/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid{
    height: 100vh;
}

#result {
    font-size: 10em;
    text-align: center;
    margin-top: 100px;
}

#result.player {
    color: gold;
}

#result.cpu {
    color: red;
}

#result.draw {
    color: blue;
}

#playground > * {
    font-size: 2em;
    padding: 0 20px
}


